<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Currency Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Currency Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>EUR</ion-label>
        <ion-input name="eur" [(ngModel)]="euros" type="number" step="0.01"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>GPB</ion-label>
        <ion-input readonly value="{{pounds | number: '1.2-2'}}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
  </div>
</ion-content>
